{% extends "base.html" %}
{% load static %}

{% block title %}Mie Gacoan - About us{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <div class="container">
        <h2>ABOUT US</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure repellat quas at! Esse cumque animi illum fuga in! Assumenda officia facere sequi id cupiditate. Temporibus alias, mollitia cumque provident dignissimos esse distinctio ut id? Quisquam impedit reprehenderit officiis quidem quis excepturi dicta porro cupiditate, magnam facere. Nobis ad facere et eaque laborum, exercitationem aliquam minima eveniet dignissimos placeat in provident suscipit, dolore accusantium sunt praesentium illum tenetur voluptatibus! Laboriosam, praesentium voluptates adipisci maiores, reiciendis nihil odio nisi voluptatem eum saepe distinctio facere velit veritatis quam accusantium quas earum unde voluptate in! Nulla ipsum dignissimos voluptate natus iusto voluptates, soluta dolore?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa iste qui accusamus minus. Adipisci, a veniam officia nostrum ab voluptates praesentium dolores nihil, labore et tenetur aut quidem porro quae neque voluptatem ratione non eaque laborum nemo esse! Dolorum consequuntur, voluptas reprehenderit omnis rem quasi velit minima dolores cupiditate voluptates rerum reiciendis quam explicabo, laudantium aut voluptatum harum eius beatae eligendi, eos perferendis recusandae facilis nemo! Doloremque saepe dolorem tempora?</p>
    </div>
{% endblock content %}